body {
    font-family: 'Inter', sans-serif;
}

/* Definiendo los colores de la paleta como variables CSS para fácil acceso */
:root {
    --azul-oscuro: #001871;
    --azul-claro: #00a9ce;
    --naranja: #ed8b00;
    --morado: #981d97;
    --turquesa: #00bfb3;
}

.bg-azul-oscuro {
    background-color: var(--azul-oscuro);
}

.text-azul-claro {
    color: var(--azul-claro);
}

.bg-naranja {
    background-color: var(--naranja);
}

.text-naranja {
    color: var(--naranja);
}

.border-naranja {
    border-color: var(--naranja);
}

.text-morado {
    color: var(--morado);
}

.border-turquesa {
    border-color: var(--turquesa);
}

/* Estilos para la línea de tiempo */
.timeline-item {
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
    border-left: 2px solid var(--azul-claro);
}

.timeline-item:last-child {
    border-left: 2px solid transparent;
}

.timeline-marker {
    position: absolute;
    left: -0.7rem;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--naranja);
    border: 2px solid white;
}